.title {
    text-align: center;
    font-size: xx-large;
    margin: 0;
    padding: 2px;

    font-family: 'Courier New', Courier, monospace;
}

.searchBarBox {
    text-align: center;
    padding-bottom: 10px;
}